<h1>Available games</h1>

<app-game-list-filter></app-game-list-filter>
<hr>

<section>
  <article>
    <header>
      <div>
        <h1>BattleBlock Theater</h1>
        <p>
          Jeu de platform multijoueur
        </p>
      </div>

      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <button>follow</button>
      <button>share</button>
      <button>buy</button>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>

  <article>
    <header>
      <h1>BattleBlock Theater</h1>
      <p>
        Jeu de platform multijoueur
      </p>
      <p>
        9.8/10
      </p>
    </header>

    <main>
      <img src="https://steamcdn-a.akamaihd.net/steam/apps/238460/header.jpg?t=1599169670" alt="Cover image of BattleBlock Theater">
      <p>
        Shipwrecked. Captured. Betrayed. Forced to perform for an audience of cats? Yes, all that and more when you unlock BattleBlock Theater! There’s no turning back once you've started on your quest to free over 300 of your imprisoned friends from evil technological cats. Immerse yourself in this mind bending tale of treachery as you use your arsenal of weapon-tools to battle your way through hundreds of levels in order to discover the puzzling truth behind BattleBlock Theater.

        If solo acts aren't your style, go online or bring a buddy couch-side to play a thoroughly co-optimized quest or enter the arenas. The game also includes a level editor so you can craft your own mind bending trials!
      </p>
    </main>

    <footer>
      <div class="actions">
        <button>follow</button>
        <button>share</button>
        <button>buy</button>
      </div>
    </footer>
  </article>
</section>
