<h1>Available games</h1>

<app-game-list-filter></app-game-list-filter>

<hr>

<!-- Cards en bootstrap : https://getbootstrap.com/docs/4.0/components/card/#card-groups -->
<section class="card-deck">
  <article class="card col-md-6 col-lg-4 col-xl-3 col-xxl-2" *ngFor="let game of games">
    <header class="card-header bg-transparent">
        <p class="float-right text-right">
          <!-- {{ game.note }}/10 -->
          <ngb-rating max="10" [rate]="game.note"></ngb-rating>
        </p>

        <div class="col">
          <h1 class="card-title">{{ game.name }}</h1>
          <small>
            {{ game.genre }}
          </small>
        </div>
    </header>

    <img class="card-img-top" [src]="game.coverImg" [alt]="coverImgAlt(game)">

    <main class="card-body">
      <p class="card-text">
        {{ description(game) }}
      </p>
    </main>

    <footer class="card-footer bg-transparent">
      <app-game-list-actions
        (actionClick)="onActionClick($event, game)"
      ></app-game-list-actions>
    </footer>
  </article>
</section>
