<div class="row">
  <form class="col-md-6 col-lg-3">
    <!-- <img src="{{ img }}" alt="Image de demonstration"> -->
    <img [src]="img" alt="Image de demonstration">

    <div class="mb-3">
      <label for="name" class="form-label">Nom de la tâche</label>
      <input type="text" class="form-control" id="name">

      <!-- Hack possible pour eviter l'utilisation du for (montre juste pour info) ; il ne faut pas faire ca. -->
      <!-- <label>Nom: <input type="text"></label> -->
    </div>
  </form>

  <table class="table col-md-6 col-lg-9">
    <thead>
      <tr>
        <th>Fini ?</th>
        <th>ID</th>
        <th>Nom de la tâche</th>
      </tr>


    </thead>
  <!-- <table class="table table-condensed table-striped table-hover"> -->
    <tbody>
      <tr *ngFor="let todo of todos; index as i">
        <td>
          <!-- L'exemple suivant coche toujours la case a cocher. -->
          <!-- <input type="checkbox" checked="{{ todo.finished }}"> -->

          <!-- On pourrait resoudre ce soucis avec un *ngIf. -->
          <!-- <input type="checkbox" checked="checked" *ngIf="todo.finished">
          <input type="checkbox" *ngIf="!todo.finished"> -->

          <!-- La bonne facon etait en faite de faire un lien de proprite a la place d'une interpollation. -->
          <input type="checkbox" [checked]="todo.finished" class="form-control">
        </td>
        <td>{{ i + 1 }}</td>
        <td>{{ todo.name }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <span *ngFor="let t of todos; last as last">
      {{ t.name.trim() }}<span *ngIf="!last">, </span>
    </span>
  </p>
</div>
