<h1>Liste des tâches à réaliser</h1>

<div class="row">
  <app-todo-form-reactive class="col-md order-md-2 col-lg-3 col-xl-2" (create)="onTodoCreate($event)"></app-todo-form-reactive>
  <!-- <app-todo-form-tpl-driven-form class="col-md order-md-2 col-lg-3 col-xl-2" (create)="onTodoCreate($event)"></app-todo-form-tpl-driven-form> -->
  <!-- <app-todo-form class="col-md order-md-2 col-lg-3 col-xl-2" (create)="onTodoCreate($event)"></app-todo-form> -->

  <!-- <table class="table table-sm table-striped table-hover table-dark"> -->
  <table class="table table-striped table-sm col">
    <thead>
      <tr>
        <th scope="col" class="text-right">#</th>
        <th scope="col" class="text-center">Fini ?</th>
        <th scope="col">Nom de la tâche</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let todo of todos; index as i">
        <!-- <tr *ngIf="todo.finished === false"> -->
        <tr>
          <td class="text-right">{{ i + 1 }}</td>
          <td class="center">
            <!-- L'exemple suivant coche toujours la case a cocher. -->
            <!-- <input type="checkbox" checked="{{ todo.finished }}"> -->

            <!-- On pourrait resoudre ce soucis avec un *ngIf. -->
            <!-- <input type="checkbox" checked="checked" *ngIf="todo.finished">
            <input type="checkbox" *ngIf="!todo.finished"> -->

            <!-- La bonne facon etait en faite de faire un lien de proprite a la place d'une interpollation. -->
            <input type="checkbox" (change)="todo.finished = !todo.finished" [checked]="todo.finished" class="form-control">
            <!-- <input type="checkbox" (change)="onFinishedChange(todo)" [checked]="todo.finished" class="form-control"> -->
          </td>
          <td (click)="onLabelClick(todo)">{{ todo.name }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
