/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.actions {
  display: flex;
  justify-content: center;
}

.card:hover { border: 1px solid black; }

.card>img {
  position: relative;
  left: -15px;
  width: calc(100% + 30px);
}

.card-header { padding: 0; }

.card-header h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.card-footer button { text-transform: uppercase; }
