<form (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="game_name">Name</label>
    <input class="form-control" type="text" id="game_name" (change)="onChangeName($event.target.value)">
  </div>

  <div class="form-group">
    <label for="game_genre">Genre</label>
    <select class="form-control" type="text" id="game_genre" (change)="onChangeGenre($event.target.value)">
      <option value="">Aucun</option>
      <option>RPG</option>
      <option>FPS</option>
      <option>RTS</option>
      <option>Jeu de plateforme</option>
    </select>
  </div>

  <div class="form-group">
    <label for="game_editor">Editor</label>
    <input class="form-control" type="text" id="game_editor" (change)="onChangeEditor($event.target.value)">
  </div>

  <div class="actions">
    <input class="btn btn-primary" type="submit" value="Filter">
    <input class="btn btn-warning" type="reset" value="RAZ" (click)="onReset()">
  </div>
</form>

<!-- Exemple emmet : section>article*3>h1{Titre n°$}+p>lorem*2 -->
